*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 body{
     font-family: serif;
     color:#fff;
     display: flex;
     flex-direction: column;
     height: auto;
     background-image: url("./assets/crew/background-crew-desktop.jpg");
     background-size: cover;
     /* background-position: center; */
     background-repeat: no-repeat;
     margin: 0;
 }
 .header{
     display: flex;
      /* background-color: #24252f; */
      justify-content: space-between;
      width: auto;
      height:40px ;
      
 }
 .hamburger{
  display: none;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 220px;
  margin-top: 15px;
 
 }
 
 /* .hamburger span{
 height: 3px;
 width: 100%;
 background: white;
 } */
 .header img{
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-left: 20px;
 }
 .hr{
   width: 37%;
    height: 0.1px;
    background-color: white;
    margin-top: 35px;
    margin-left: 250px;
 }
 .header button{
    background: transparent;
    border: none;
    color: #888d96;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-top: 20px;
    gap: 1px;
 }
 .buttons{
 border: none;
 height: 60px;
 background-color: #24252f;
 color: #888d96;
 margin-top: 15px;
 }
 .body{
     display: flex;
     align-items: center;
     justify-content: space-between;
     min-height: 100vh;
     padding: 0 10rem;
     height: auto;
 }
 .body img{
     width: 400px;
    margin-top: 100px;}
 /* 
 .pilot{
     display: flex;
 
 } */
 .line_btns_1 {
    display: flex;
    gap: 20px;
    margin-top: 50px;
  }
  
  .btn_1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(208,214,249);
    border: none;
    cursor: pointer;
  }
  .text{
     display: flex;
     flex-direction: column;
  }
  .text h2{
     margin-bottom: 100px;
  }
  .text h3{
     margin-bottom: 8px;
  }
  .text p{
     line-height: 20px;
     font-size: 15px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  @media(max-width:540px){
    .body{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       margin-top: 300px;
       min-height: auto;
       gap: 3rem;
       padding: 2rem 1.5rem; 
        height: auto; 
    }
      .header{
       position: fixed;
    }
       .hamburger{
          display: flex;
          
       }
 
    .body h2{
       margin-bottom: 5px;
       /* margin-top: 200px; */
    
    }
    .hr{
       display: none;
    }
    .buttons{
       position: relative;
       top:70px;
       width: 100%;
       display: flex;
       flex-direction: column;
       background: transparent;
       max-height: 0;
       overflow: hidden;
       padding: 15px 0;
       transition:  max-height 0.3s ease;
    }
    .buttons.active{
       max-height: 1000px;
       padding: 20px;
 
    }
    .body p{
       display: flex;
       flex-direction: column;
    }
    /* .buttons{
       display: flex;
       flex-direction: column;
       overflow: hidden;
       max-height: 0;
       background:transparent;
       transition: max-height 0.3s ease;}
       /* position: fixed;
       top: 0;
       right: -100%;
       width: 70%;
       height: 100vh;
       background-color: transparent;
       width: 100px;
       margin: none;
       padding: 100px 30px;
       /* transition: right 0.3s ease;
    } 
    .buttons.active {
       max-height: 300px;
    } */
    .image{
       justify-content: center;
       align-items: center; 
       margin-top: 90px;
       margin-bottom: none;
        height: auto;
    }
    .image img{
       display: block;
       width:280px;
       height: auto;
       padding: none;
 
       
    }
    /* .text{ */
     /* display: flex;
     flex-direction: column;
  } */
  .text h2{
     margin-bottom: 30px; 
  }
  .text h3{
     margin-top: 5px;}
 
     .text h1{
 margin-bottom: 10px;
 }
 .text p{
   font-size: 10px;
 }
 }
  @media(max-width:912px){
       .body{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       margin-top: 150px;
        height: auto; 
       /* min-height: auto; */
       
       
    }
  }