* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("../fonts/Barlow/Barlow-Thin.tff") format("truetype");
}

body {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: auto;
  background-image: url("./assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.logodiv_specialist {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  margin-left: 50px;
}
.hamdiv_specialist {
  display: none;
}

.navdiv_specialist {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.055);
  margin-top: -25px;
  height: 80px;
  width: 50%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 40px;
}
.ulbar_specialist {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
}

.firstdiv_specialist {
  display: inline;
}

.emptydiv_specialist {
  width: 530px;
  height: 0.2px;
  background-color: rgb(94, 94, 94);
  margin-left: 150px;
  margin-top: -50px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.image {
  margin-left: 100px;
  margin-top: 100px;
}

.line_btns_1 {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d0d6f9;
  border: none;
  cursor: pointer;
}

.btn.active {
  background-color: #007bff;
}

.text {
  display: flex;
  font-family: "Barlow", sans-serif;
  flex-direction: column;
  margin-left: 100px;
}

.text {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
}

.text h2 {
  font-family: "Barlow", sans-serif;
  margin-bottom: 50px;
}

.text h3 {
  font-family: "Barlow", sans-serif;
  margin-bottom: 12px;
}

.textSpecialist {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  width: 500px;
}

@media screen and (max-width: 450px) {
  body {
    background-image: url("./assets/crew/background-crew-mobile.jpg");
  }
  .navdiv_specialist {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    max-width: 300px;
    right: 0;
  }

  .hamdiv_specialist {
    display: flex;
    justify-content: right;
  }
  .hamdiv2 {
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 50px;
    right: 0;
    top: 5%;
    transition: 3s ease;
  }

  .hamnav {
    position: relative;
  }
  .empty {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: rgb(15, 15, 15);
  }
  .ham {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 60%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(-45deg);
    background-color: rgb(15, 15, 15);
  }

  .navbar {
    height: 100vh;
    width: 100%;
    max-width: 360px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: -300px;
    transition: 3s ease;
    color: rgb(15, 15, 15);
  }

  .ulbar_specialist {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    /* margin-top: -300px; */
  }
  .logodiv_specialist {
    margin-top: 20px;
    margin-left: 15px;
  }

  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    height: auto;
  }

  .image {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: none;
    height: auto;
  }

  .image img {
    display: block;
    width: 250px;
  }

  .text {
    margin-left: 0;
    margin-top: 30px;
    padding: 0 20px;
  }

  .text h2 {
    margin-bottom: 30px;
  }

  .text h3 {
    margin-bottom: 8px;
  }

  .textSpecialist {
    width: auto;
    font-size: 17px;
    line-height: 25px;
  }

  .line_btns_1 {
    justify-content: center;
    margin-top: 30px;
  }

  .btn {
    width: 12px;
    height: 12px;
  }

  .emptydiv_specialist {
    display: none;
  }
}

@media screen and (max-width: 768px) and (min-width: 451px) {
  body {
    background-image: url("./assets/crew/background-crew-tablet.jpg");
  }
  .navdiv_specialist {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    max-width: 300px;
    right: 0;
  }

  .navbar {
    margin-top: -25px;
    height: 80px;
    width: 60%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .ulbar_specialist {
    font-family: "Barlow", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    font-size: 16px;
  }

  .firstdiv_specialist {
    display: inline;
  }

  .emptydiv_specialist {
    width: 400px;
    height: 0.2px;
    background-color: rgb(94, 94, 94);
    margin-left: 100px;
    margin-top: -50px;
  }

  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    height: auto;
  }

  .image {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: none;
    height: auto;
  }

  .image img {
    display: block;
    width: 300px;
  }

  .text {
    margin-left: 0;
    margin-top: 30px;
    padding: 0 20px;
  }

  .text h2 {
    margin-bottom: 30px;
  }

  .text h3 {
    margin-bottom: 8px;
  }

  .textSpecialist {
    width: auto;
    font-size: 18px;
    line-height: 26px;
  }

  .line_btns_1 {
    justify-content: center;
    margin-top: 30px;
  }

  .btn {
    width: 14px;
    height: 14px;
  }
}
